<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	
	<appSettings>
		<!--<add key="GatewayApiUrl" value="https://gateway.dev1.readiness.ansarada.com" />-->
		<add key="PROD_GatewayApiUrl" value="https://gateway.readiness.ansarada.com" />
		<add key="STAGE_GatewayApiUrl" value="https://gateway.staging.readiness.ansarada.com" />
		<add key="DEV_GatewayApiUrl" value="https://gateway.dev1.readiness.ansarada.com" />
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>
